extends layout
include delta.pug
include sec_status.pug

block content
    div.row
        div.col-sm
          +delta('Most Corporations', most_corporations, 'alliance')
        div.col-sm
          +delta('Top 10 alliances', top_10_alliances, 'alliance')
    div.row
        div.col-sm
          +delta('Shrinking alliances', shrinking_alliances, 'alliance')
        div.col-sm
          +delta('Growing alliances', growing_alliances, 'alliance')
    div.row
        div.col-sm
          +sec_status('Pirate alliances', pirate_alliances, 'alliance')
        div.col-sm
          +sec_status('Carebear alliances', carebear_alliances, 'alliance')
    div.row
        div.col-sm
          +delta('Dead alliances', dead_alliances, 'alliance')
        div.col-sm
          +delta('Newest alliances', newest_alliances, 'alliance')
