extends layout
include details.pug
include history.pug

block content
    div.row
        div.col-sm
          +details(details, 'character', details.character_id)
        div.col-sm
          +history('History', 'corporation', history, true, true)
