extends layout
include delta.pug
include sec_status.pug

block content
    div.row
        div.col-sm
          +delta('Top Member Count 1', top_member_count1, 'corporation')
        div.col-sm
          +delta('Top Member Count 2', top_member_count2, 'corporation')
    div.row
        div.col-sm
            +delta('Highest Activity 1', highest_activity1, 'corporation')
        div.col-sm
            +delta('Highest Activity 2', highest_activity2, 'corporation')
    div.row
        div.col-sm
            +sec_status('Pirate corporations 1', pirate_corporations1, 'corporation')
        div.col-sm
            +sec_status('Pirate corporations 2', pirate_corporations2, 'corporation')
    div.row
        div.col-sm
            +sec_status('Carebear corporations 1', carebear_corporations1, 'corporation')
        div.col-sm
            +sec_status('Carebear corporations 2', carebear_corporations2, 'corporation')
    div.row
        div.col-sm
            +delta('Growing corporations 1', growing_corporations1, 'corporation')
        div.col-sm
            +delta('Growing corporations 2', growing_corporations2, 'corporation')
    div.row
        div.col-sm
            +delta('Shrinkng corporations 1', shrinking_corporations1, 'corporation')
        div.col-sm
            +delta('Shrinkng corporations 2', shrinking_corporations2, 'corporation')
    div.row
        div.col
            p 1 indicates without an alliance.
            p 2 indicates with an alliance.
        
