include image.pug

mixin history(title, type, contents, joined, left)
  span.float-left.table-responsive
    h4= title
    table.table.table-striped.table-bordered.table-hover.table-sm.delta-table
      thead.thead-light
        tr
          th.image
          th.name Name
          th.joined.align-right
            if !left && joined
                | Joined
      tbody
        if contents != undefined
          each val in contents
            tr
              td.image 
                +image(type, val.id)
              td.name
                a(href='/' + type + '/' + val.id)= val.name
              td.dates
                if left
                  span.align-right.departed= val.end_date
                  br
                if joined
                  span.align-right.joined= val.start_date
