include image.pug

mixin history(title, type, contents, joined, left)
  span.float-left
    h4= title
    table.table.table-striped.table-bordered.table-hover.table-sm.delta-table
      thead.thead-light
        tr
          th.image
          th.name Name
          if joined
            th.count Joined
          if left
            th.delta Left
      tbody
        if contents != undefined
          each val in contents
            tr
              td.image 
                +image(type, val.id)
              td.name
                a(href='/' + type + '/' + val.id)= val.name
              if joined
                td= val.start_date
              if left
                td= val.end_date
