extends layout
include delta.pug

block content
    div.row
        div.col-sm
          +delta('Largest corporations', big_corporations, 'corporation')
        div.col-sm
          +delta('Largest alliances', big_alliances, 'alliance')
    div.row
        div.col-sm
          +delta('Growing corporations', growing_corporations, 'corporation')
        div.col-sm
          +delta('Growing alliances', growing_alliances, 'alliance')
    div.row
        div.col-sm
          +delta('Shrinking corporations', shrinking_corporations, 'corporation')
        div.col-sm
          +delta('Shrinking alliances', shrinking_alliances, 'alliance')
    div.row
        div.col
            p All corporations on this page are not associated with an alliance.
