* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 50px; /* .push must be the same height as .footer */
}
.footer {
}

.tiny { 
    font-size: 1%;
}

.align-right {
    text-align: right;
}

.delta-table tbody tr td.image {
    width: 32px;
}
.delta-table tbody tr td.name {
    width: 318px;
}
.delta-table tbody tr td.count {
    width: 90px;
}
.delta-table tbody tr td.delta {
    width: 60px;
}

.dates {
    width: 120px;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
