extends layout

block content
    div.row
        div.col-md-8.offset-md-2.text-center
            h2.mt-4 404 - Not Found
            p.mb-4
                | We could not find the page you requested.
                if requested_path
                    br
                    small.text-muted= requested_path
            p
                a.btn.btn-primary(href='/') Go Home
