include image.pug

mixin delta(title, contents, type)
  span.float-left.table-responsive
    h4= title
    table.table.table-striped.table-bordered.table-hover.table-sm.delta-table
      thead.thead-light
        tr
          th.image
          th.name Name
          th.align-right.count Members
          th.align-right.delta Delta
      tbody
        if contents != undefined
          each val in contents
            tr
              td.image 
                +image(type, val.id, 64, val.name)
              td.name
                a(href='/' + type + '/' + val.id)= val.name
              td.align-right.count.number= val.memberCount
              td.align-right.delta.number= val.diff
