include details.pug
include history.pug
include image.pug

- const rowType = entity_type || 'character';
each val in characters
    tr
        td.image
            +image(rowType, val.id, 64, val.name)
        td.name
            a(href='/' + rowType + '/' + val.id)= val.name
        td
          span.dates.align-right.departed= val.end_date
          br
          span.dates.align-right.joined= val.start_date
