doctype html
html
  head
    title= 'Eve Who - ' + title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content= 'Eve Who - ' + title)
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')

    script(src='https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.0.0/dist/lazyload.min.js')
    script(src='/js/jquery.autocomplete.min.js')
    script(src='/js/site.js?v=' + server_started)
    link(rel='stylesheet', href='/css/style.css?v=' + server_started)
    script(async='', src='https://cdn.fuseplatform.net/publift/tags/2/3785/fuse.js')

  body.dark
    div.inverse.wrapper
        include navbar.pug
        div#topbanner.container
          div.d-flex.justify-content-center
            div(data-fuse='22353933784')
        div#content.container
          hr
          block content
        div.push
    div.d-none.ad-xl-block.left-sticky-ad(data-fuse='22353933787')
    div.d-none.ad-xl-block.right-sticky-ad(data-fuse='22353933790')
    div.inverse.container
      footer.footer
            small
                center 
                    | Brought to you by 
                    a(href='/character/1633218082') Squizz Caphinator 
                center(data-toggle='tooltip', style='cursor: pointer; text-decoration: underline', title= "EVE Online and the EVE logo are the registered trademarks of CCP hf. All rights are reserved worldwide. All other trademarks are the property of their respective owners. EVE Online, the EVE logo, EVE and all associated logos and designs are the intellectual property of CCP hf. All artwork, screenshots, characters, vehicles, storylines, world facts or other recognizable features of the intellectual property relating to these trademarks are likewise the intellectual property of CCP hf. CCP hf. has granted permission to evewho.com to use EVE Online and all associated logos and designs for promotional and information purposes on its website but does not endorse, and is not in any way affiliated with, evewho.com. CCP is in no way responsible for the content on or functioning of this website, nor can it be liable for any damage arising from the use of this website.")  All Eve Related Materials are Property of CCP Games
// Google tag (gtag.js)
script(async='', src='https://www.googletagmanager.com/gtag/js?id=G-378H4GVYNN')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-378H4GVYNN');
